ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3eeee;
}

/* Style the navigation bar links */
ul.navbar li {
  float: left;
  margin: 20px;
}



